html {
    background: #f5f7f8;
    -webkit-font-smoothing: antialiased;
    font-family: 'Cabinet Grotesk', sans-serif;
    padding: 20px 0;
  }
  
  .band {
    width: 90%;
    max-width: 520px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 8px;
  }

  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
    .item-1 {
    grid-column: 1/ span 2;
    }
    .item-1 h1 {
      font-size: 30px;
    }
  }
  
  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr;
    }
  }

  .item-1 {
    min-height: 100%;
    background: white;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-around;
    color: #444;
    position: relative;
    top: 0;
    align-items: center;
    transition: all .1s ease-in;
    margin: 16px;
  }

  .item-1 h1{
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
  }
  
  .item-1:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .hidden {
    display: none;
  }